/**
 * 16.0 Other
 * -----------------------------------------------------------------------------
 */
.admin-bar{
	// top 32px
	.offcanvas{
		padding-top: 32px;
		@media (max-width: 600px){
			padding-top: 64px;
		}
	}

	#masthead,.site-header{
		&.is_sticky_menu{
			//top: 32px;
			@media (max-width: 600px){
				//top: 64px;
			}
		}
	}
}

a.main-color{
	color: $main-color;
	&:hover{
		color: #ffffff;
	}
}

span.description{
	margin-left: 5px;
}

.clearfix{
	@include clearfix();
}

.viem-float-right{
	float: right;
}
.rtl{
	.viem-float-right{
		float: left;
	}
	span.description{
		margin-left: 0px;
		margin-right: 5px;
	}
}

.viem_dt_social_profile{
	a{
		position: relative;
		span.social-info{
			position: absolute;
		    top: -40px;
		    left: 50%;
		    @include translate(-50%,0);
		    padding: 5px;
		    z-index: 20;
		    font-size: 0.9em;
		    line-height: 1;
		    text-align: center;
		    text-transform: capitalize;
		    background-color: #333;
		    color: #fff;
		    @include opacity(0);
		    visibility: hidden;
		    @include transition(all 200ms ease-in-out 0s);
		    &:before{
		    	content: "";
			    position: absolute;
			    left: 50%;
			    bottom: -5px;
			    width: 0;
			    height: 0;
			    margin-left: -6px;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid #333;
		    }
		}
		&:hover{
			span.social-info{
				top: -28px;
				@include opacity(1);
		    	visibility: visible;
			}
		}
	}
}

#searchform{
	&.search-form.dt-search-form{
		position: relative;
		.search-submit{
			position: absolute;
			height: 100%;
			top: 0;
			right: 0;
			margin:0;
			text-align: center;
			background: $main-color;
			color: $btn-color;
			border: 0px;
			i{
				margin-right: 5px;
			}
			&:hover{
				background: $main-color;
				border-color: $main-color;
			}
			@media(max-width: 480px){
				font-size: 0px;
				padding: 0 15px;
				i{
					font-size: 14px;
				}
			}
		}
		input{
			border: 1px solid $border-color;
			border-radius: 0;
			background: transparent;
			color: $text-color;
		}
	}
}

/* Contact us form */
.contact-us{
	h5{
		text-transform: uppercase;
	    font-weight: bold;
	    display: block;
	    margin-bottom: 33px;
	    span{
	    	display: inline-block;
		    padding-bottom: 6px;
		    border-bottom: 2px solid #1f1f1f;
	    }
	}
}

.viem-background-overlay{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba($main-color, 0.86);
	}
}
.box-shadow {
    box-shadow: 0 -3px 0 rgba(0,0,0,.25)inset;
}

.viem-preload{
	overflow: hidden;
	height: 1px;
	@include opacity(0);
	@include theme-transition();
	body.vc_editor &,
	body.vc_inline-shortcode-edit-form &{
		overflow: visible;
		height: auto;
		@include opacity(1);
	}
}

.align-center{ text-align: center; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }

// Effects
.dt-effect0{
	@include banner-style0();
}
.dt-effect1{
	@include banner-style1();
}
.dt-effect2{
	@include banner-style2();
}
.dt-effect3{
	@include banner-style3();
}
.dt-effect4{
	@include banner-style4();
}
.dt-effect5{
	@include banner-style5();
}
.dt-effect6{
	@include banner-style6();
}
.dt-effect7{
	@include banner-style7();
}

#viem-ajax-auth-login,
#viem-ajax-auth-register,
#viem-ajax-auth-forgot_password
{
	input.button{
		padding: 12px 0px;
	    text-align: center;
	    margin: 15px 0px;
	    background: $secondary-color;
	    border-color: $secondary-color;
	    color: #ffffff;
	}
}

.viem-background-fixed{
	background-attachment: fixed !important;
}

#viem_background_lamp.on{
    position: fixed;
    background-color: rgba(#000000, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
}
body{
	&.viem_light_on{
		.site-header,
		#dawnthemes-page,
		#main.site-main,
		.site-footer{
			z-index: unset;
		}
	}
}
.viem-wall-ads{
	position: fixed;
	z-index: 7;
	display: none;
	@media(min-width: 1024px){
		display: block;
	}
}
.wall-ads-left{
	top: 110px;
	left: calc((100% - 1170px) / 2);
	@include translate(-100%, 0);
}
.wall-ads-right{
	top: 110px;
	right: calc((100% - 1170px) / 2);
	@include translate(100%, 0);
}
@media (min-width: 992px){
	.wall-ads-left{
		left: calc((100% - 970px) / 2);
	}
	.wall-ads-right{
		right: calc((100% - 970px) / 2);
	}
}
@media (min-width: 1200px){
	.wall-ads-left{
		left: calc((100% - 1170px) / 2);
	}
	.wall-ads-right{
		right: calc((100% - 1170px) / 2);
	}
}
